:root {
    --cor-vermelho: #FE5054;
    --cor-cinza-escuro: #767676;
    --cor-cinza: #D9D9D9;
    --cor-preto: #000;
    --sombra: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--sombra);
    padding: 0px 80px;
}

.logo-imagem {
    height: 70px;
}

.menu {
    display: flex;
    gap: 50px;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: var(--cor-preto);
    margin-left: 50px;
}

nav a:hover {
    color: var(--cor-vermelho);
    border-bottom: 1px solid var(--cor-vermelho);
}

.entrar-cadastrar {
    display: flex;
    align-items: center;
    gap: 5px;
}

i {
    font-size: 30px;
}

i:hover {
    color: var(--cor-vermelho);
}

span {
    font-weight: 500;
}

.entrar-cadastrar a {
    text-decoration: none;
    color: var(--cor-preto);
}

.entrar-cadastrar a p {
    line-height: 1;
}

.entrar-cadastrar:hover {
    p, i{
        color: var(--cor-vermelho);
    }
}

.cesta a {
    color: var(--cor-preto);
}